#We need all instances of func_197757_a to elevate it.
public net.minecraft.util.math.shapes.VoxelShape func_197757_a(Lnet/minecraft/util/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList; # getCoords
public net.minecraft.util.math.shapes.SplitVoxelShape func_197757_a(Lnet/minecraft/util/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList; # getCoords
public net.minecraft.util.math.shapes.VoxelShapeArray func_197757_a(Lnet/minecraft/util/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList; # getCoords
public net.minecraft.util.math.shapes.VoxelShapeCube func_197757_a(Lnet/minecraft/util/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList; # getCoords
public net.minecraft.util.math.shapes.VoxelShape <init>(Lnet/minecraft/util/math/shapes/VoxelShapePart;)V
public net.minecraft.util.math.shapes.VoxelShape field_197768_g # shape

public net.minecraft.item.ItemUseContext field_221535_d # hitResult

public net.minecraft.world.gen.feature.template.Template field_204769_a # palettes
public net.minecraft.world.gen.feature.template.Template field_186271_b # entityInfoList

public net.minecraft.client.renderer.WorldRenderer func_228445_b_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lcom/mojang/blaze3d/vertex/IVertexBuilder;Lnet/minecraft/util/math/shapes/VoxelShape;DDDFFFF)V # drawShape